@import 'reset';

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.button {
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
  border: none;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

$screen-sizes: (
  md: 720px,
  lg: 1024px,
);

$pd-mg: (
  p: padding,
  m: margin,
);

$directions: (
  r: right,
  l: left,
  t: top,
  b: bottom,
);

$sizes: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 2rem,
  6: 3rem,
  auto: auto
);

@for $column-size from 1 through 12 {
  .col-#{$column-size} {
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 percentage($column-size/12);
    max-width: percentage($column-size/12);
  }
}

@for $order from 0 through 12 {
  .order-#{$order} {
    order: $order;
  }
}

@each $element, $tag in $pd-mg {
  @each $size, $value in $sizes {
    .#{$element}-#{$size} {
      #{$tag}: $value;
    }
    @each $direction, $tag2 in $directions {
      .#{$element}#{$direction}-#{$size} {
        #{$tag}-#{$tag2}: $value;
      }
    }
  }
}

.border {
  border: solid;
}

.border-0 {
  border: none;
}

@each $direction, $tag2 in $directions {
  .border-#{$direction} {
    border-#{$tag2}: solid;
  }

  .border-#{$direction}-0 {
    border-#{$tag2}: none;
  }
}

@each $screen-size, $screen-resolution in $screen-sizes {
  @for $column-size from 1 through 12 {
    .col-#{$screen-size}-#{$column-size} {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (min-width: #{$screen-resolution}) {
    @for $column-size from 1 through 12 {
      .col-#{$screen-size}-#{$column-size} {
        flex: 0 0 percentage($column-size/12);
        max-width: percentage($column-size/12);
      }
    }

    @for $order from 0 through 12 {
      .order-#{$screen-size}-#{$order} {
        order: $order;
      }
    }

    @each $element, $tag in $pd-mg {
      @each $size, $value in $sizes {
        .#{$element}-#{$screen-size}-#{$size} {
          #{$tag}: $value;
        }
        @each $direction, $tag2 in $directions {
          .#{$element}#{$direction}-#{$screen-size}-#{$size} {
            #{$tag}-#{$tag2}: $value;
          }
        }
      }
    }

  }
}
